<!DOCTYPE cruisecontrol [ 
	<!ENTITY sample-project SYSTEM "file:sample-project.xml">
]>  
<cruisecontrol> 
	&sample-project;
	
	<project name="$Build">
		<triggers>
			<intervalTrigger />
		</triggers>

		<sourcecontrol type="svn">
			<username>username</username>
			<password>password</password>
			<trunkUrl>http://url.to.build.config</trunkUrl>      
		</sourcecontrol>
		
		<workingDirectory>C:\Projects\ccnet\</workingDirectory>
	</project>
</cruisecontrol> 